<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Delivery</title>
    <link rel="stylesheet" href="front/styles.css">
    
</head>
<body>
    <div class="container">
        <div class="card", id="card-egg">
            <img src="images/eggsan.jpg" alt="Egg Sandwich", id="item-Egg-Sandwich">
            <div class="title-rating">
                <h2>Egg Sandwich</h2>
                <div class="rating">
                    <span>⭐</span><span>⭐</span><span>⭐</span><span>⭐</span>
                </div>
            </div>
            <div class="ingredients" hidden>
                <div class="mod-Cheese">Cheese</div>
                <div class="mod-Tomato">Tomato</div>
            </div>
        </div>

        <div class="card", id="card-burger">
            <img src="images/burger.jpg" alt="Burger", id="item-Burger">
            <div class="title-rating">
                <h2>Burger</h2>
                <div class="rating">
                    <span>⭐</span><span>⭐</span><span>⭐</span><span>⭐</span><span>⭐</span>
                </div>
            </div>
            <div class="ingredients" hidden>
                <div class="mod-Cheese">Cheese</div>
                <div class="mod-Tomato">Tomato</div>
                <div class="mod-Onion">Onion</div>
                <div class="mod-Lettuce">Lettuce</div>
            </div>
        </div>

        <div class="card", id="card-wrap">
            <img src="images/eggwrap.jpg" alt="Eggwrap", id="item-Eggwrap">
            <div class="title-rating">
                <h2>Eggwrap</h2>
                <div class="rating">
                    <span>⭐</span><span>⭐</span><span>⭐</span><span>⭐</span><span>⭐</span>
                </div>
            </div>
            <div class="ingredients" hidden>
                <div class="mod-Cheese">Cheese</div>
                <div class="mod-Tomato">Tomato</div>
            </div>
        </div>

        <div class="card", id="card-fries">
            <img src="images/fries.jpg" alt="Fries", id = "item-Fries">
            <div class="title-rating">
                <h2>Fries</h2>
                <div class="rating">
                    <span>⭐</span><span>⭐</span><span>⭐</span><span>⭐</span>
                </div>
            </div>
            <div class="ingredients" hidden>
                <div class="mod-Ketchup">Ketchup</div>
                <div class="mod-Mayo">Mayo</div>
            </div>
        </div>

        <div class="card", id="card-veggie">
            <img src="images/veggieburger.jpg" alt="Veggie burger", id="item-Veggie-Burger">
            <div class="title-rating">
                <h2>Veggie Burger</h2>
                <div class="rating">
                    <span>⭐</span><span>⭐</span><span>⭐</span><span>⭐</span><span>⭐</span>
                </div>
            </div>
            <div class="ingredients" hidden>
                <div class="mod-Cheese">Cheese</div>
                <div class="mod-Tomato">Tomato</div>
                <div class="mod-Onion">Onion</div>
                <div class="mod-Lettuce">Lettuce</div>
            </div>
        </div>

        <div class="card", id="card-blt">
            <img src="images/bltsan.jpg" alt="BLT Sandwich", id="item-BLT-Sandwich">
            <div class="title-rating">
                <h2>BLT Sandwich</h2>
                <div class="rating">
                    <span>⭐</span><span>⭐</span><span>⭐</span><span>⭐</span><span>⭐</span>
                </div>
            </div>
            <div class="ingredients" hidden>
                <div class="mod-Cheese">Cheese</div>
                <div class="mod-Tomato">Tomato</div>
            </div>
        </div>

        <div class="card">
            <img src="images/chickensan.jpg" alt="Chicken sandwich", id="item-Chicken-Sandwich">
            <div class="title-rating">
                <h2>Chicken Sandwich</h2>
                <div class="rating">
                    <span>⭐</span><span>⭐</span><span>⭐</span><span>⭐</span><span>⭐</span>
                </div>
            </div>
            <div class="ingredients" hidden>
                <div class="mod-Cheese">Cheese</div>
                <div class="mod-Tomato">Tomato</div>
                <div class="mod-Onion">Onion</div>
                <div class="mod-Lettuce">Lettuce</div>
            </div>
        </div>

        <div class="card", id="card-salad" >
            <img src="images/caesar.jpg" alt="Caesar", id="item-Caesar-Salad">
            <div class="title-rating">
                <h2>Caesar Salad</h2>
                <div class="rating">
                    <span>⭐</span><span>⭐</span><span>⭐</span>
                </div>
            </div>
            <div class="ingredients" hidden>
                <div class="mod-Croutons">Croutons</div>
                <div class="mod-Parmesan">Parmesan</div>
            </div>
        </div>

        <div class="card", id="card-avocado">
            <img src="images/avocadotoast.jpg" alt="avocado toast", id="item-Avocado-Toast">
            <div class="title-rating">
                <h2>Avocado toast</h2>
                <div class="rating">
                    <span>⭐</span><span>⭐</span><span>⭐</span><span>⭐</span><span>⭐</span>
                </div>
            </div>
        </div>

        <div class="card", id="card-bacon">
            <img src="images/baconcheese_san.jpg" alt="Bacon Sandwich", id="item-Bacon-Sandwich">
            <div class="title-rating">
                <h2>Bacon Cheese Sandwich</h2>
                <div class="rating">
                    <span>⭐</span><span>⭐</span><span>⭐</span><span>⭐</span><span>⭐</span>
                </div>
            </div>
            <div class="ingredients" hidden>
                <div class="mod-Cheese">Cheese</div>
                <div class="mod-Tomato">Tomato</div>
            </div>
        </div>

        <div class="card">
            <img src="images/coffee.jpg" alt="Coffee", id="Coffee">
            <div class="title-rating">
                <h2>Coffee</h2>
                <div class="rating">
                    <span>⭐</span><span>⭐</span><span>⭐</span><span>⭐</span><span>⭐</span>
                </div>
            </div>
        </div>

        <div class="card", id="card-hotdog">
            <img src="images/hotdog.jpg" alt="Hotdog", id="item-Hotdog">
            <div class="title-rating">
                <h2>Hotdog</h2>
                <div class="rating">
                    <span>⭐</span><span>⭐</span><span>⭐</span><span>⭐</span>
                </div>
            </div>
            <div class="ingredients" hidden>
                <div class="mod-Ketchup">Ketchup</div>
                <div class="mod-Mustard">Mustard</div>
            </div>
        </div>

    </div>
    <script src="script.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            highlightCards();
        });
    </script>
        
</body>
</html>